@use "../globals" as g;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: g.$color-text;
  line-height: 1.7;
  background: g.$color-bg;
}
body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

:link    { color: g.$color-text; text-decoration: underline;}
a:visited { color: g.$color-text; text-decoration: underline;}
a:hover   { color: g.$color-text; text-decoration: none;}
a:focus   { color: g.$color-text; text-decoration: none;}
a:active  { color: g.$color-text; }

