@use "../globals" as g;

.debug-bar {
  position: fixed;
  z-index: 1000;
  bottom: 1em;
  left: 1em;
  right: 1em;
  padding: 1em 1em;
  background: g.$color-text;
  color: g.$color-bg;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  box-shadow: 20px 20px 35px 0px rgba(g.$color-text, 0.5);

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .text {
    letter-spacing: 0.05em;
  }

  .number {
    font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

}

.debug-box-wrap {
  margin: 1em 0 0 0;
  padding: 2em;
  text-align: center;
  background: rgba(g.$color-text, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin: auto;
  font-size: 1.2rem;
  width: 130px;
  height: 130px;
  background: g.$color-text;
  border-radius: 1em;
  text-align: center;
  box-shadow: 20px 20px 35px 0px rgba(g.$color-text, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: inline-block;
    color: white;
  }

  &#box-mq-up {
    background: red;
    @include g.mqUp('sm') { background: orange; }
    @include g.mqUp('md') { background: green; }
    @include g.mqUp('lg') { background: blue; }
    @include g.mqUp('xl') { background: purple; }
  }

  &#box-mq-down {
    background: red;
    @include g.mqDown('xl') { background: purple; }
    @include g.mqDown('lg') { background: blue; }
    @include g.mqDown('md') { background: green; }
    @include g.mqDown('sm') { background: orange; }
  }

  &#box-mq-between {
    background: red;
    @include g.mqBetween('sm', 'md') { background: green; }
    @include g.mqBetween('lg', 'xl') { background: blue; }
  }

  &#box-mq-up-df {
    background: red; 
    @include g.mqUp() { background: green;}
  }
  &#box-mq-down-df {
    background: red; 
    @include g.mqDown() { background: green;}
  }

  &#box-mq-up-626 {
    background: red;
    @include g.mqUp(626px) { background: green; } 
  }

  &#box-mq-down-782 {
    background: red;
    @include g.mqDown(782px) { background: green; } // 782px and up 
  }

  &#box-mq-bw-l-n {
    background: red; // ~ 599px , 1600px  ~
    @include g.mqBetween('sm', 1600px) { background: green;} // 600px ~ 1599px 
  }

  &#box-mq-bw-n-n {
    background: red; // ~ 849px , 1234px ~
    @include g.mqBetween(1234px, 850px) { background: green;} // 850px ~ 1233px 
  }

  &#box-mq-h-up {
    background: red;
    @include g.mqHeightUp('sm') { background: orange; }
    @include g.mqHeightUp(900px) { background: green; }
    @include g.mqHeightUp('lg') { background: blue; }
    @include g.mqHeightUp('xl') { background: purple; }
  }

  &#box-mq-h-down {
    background: red;
    @include g.mqHeightDown('xl') { background: purple; }
    @include g.mqHeightDown(1200px) { background: blue; }
    @include g.mqHeightDown('md') { background: green; }
    @include g.mqHeightDown('sm') { background: orange; }
  }

  &#box-mq-h-bw {
    background: red;
    @include g.mqHeightBetween('sm', 'md') { background: green; }
    @include g.mqHeightBetween('lg', 'xl') { background: blue; }
  }

}